{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "external-helpers",
    [ 
      "babel-plugin-transform-require-ignore",
      { 
        "extensions": [".css"]
      }
    ]
  ],
  "ignore": [
    "node_modules/**",
    "*.scss",
    "*.css"
  ]
}