._carousel_4ncvg_1 {
  position: relative;
  overflow: hidden; }

._carousel-track_4ncvg_5 {
  display: flex;
  transition-timing-function: ease-in-out;
  max-height: 100%; }

._carousel-slide_4ncvg_10 {
  flex: 1 0 100%;
  height: 100%; }
  ._carousel-slide_4ncvg_10 img {
    width: 100%;
    display: block; }

._carousel-prev_4ncvg_17, ._carousel-next_4ncvg_17 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .75;
  border: none;
  outline: 0;
  background-color: transparent;
  transition: opacity .25s ease-in-out;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.35); }
  ._carousel-prev_4ncvg_17:hover, ._carousel-next_4ncvg_17:hover {
    cursor: pointer;
    opacity: .35; }
  ._carousel-prev_4ncvg_17::after, ._carousel-next_4ncvg_17::after {
    font-size: 60px;
    color: white; }

._carousel-prev_4ncvg_17 {
  left: 20px; }
  ._carousel-prev_4ncvg_17::after {
    content: "\2039"; }

._carousel-next_4ncvg_17 {
  right: 20px; }
  ._carousel-next_4ncvg_17::after {
    content: "\203A"; }

._carousel-indicators_4ncvg_45 {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center; }

._carousel-indicator_4ncvg_45 {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  border: none;
  outline: 0;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25); }
  ._carousel-indicator_4ncvg_45:hover {
    cursor: pointer;
    opacity: .45; }
  ._carousel-indicator_4ncvg_45._active_4ncvg_66 {
    opacity: 1; }